.vs/
.vscode/
.godot/
.idea/

# IDE-specified ignores
*.suo
*.one
*.DotSettings.user

# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
notes/
data_*/

# Ignore old project files
*.old
*.**~godot.zip


*.afdesign~lock
*.afdesign~lock~

Assets/Maps/default.json
