.vs/
.idea/

# IDE-specified ignores
*.suo
*.one

# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
notes/
data_*/

# Ignore old project files
*.old
*.**~