{"tiles":[{"coordinates":{"r":0,"q":3},"type":"Rocks"},{"coordinates":{"r":0,"q":4},"type":"Tundra"},{"coordinates":{"r":0,"q":5},"type":"Dune"},{"coordinates":{"r":-1,"q":5},"type":"Dune"},{"coordinates":{"r":-1,"q":4},"type":"Rocks"},{"coordinates":{"r":1,"q":3},"type":"Tundra"},{"coordinates":{"r":1,"q":4},"type":"Tundra"},{"coordinates":{"r":-1,"q":3},"type":"Open"},{"coordinates":{"r":0,"q":2},"type":"Open"},{"coordinates":{"r":1,"q":2},"type":"Open"},{"coordinates":{"r":2,"q":2},"type":"Open"},{"coordinates":{"r":2,"q":3},"type":"Open"},{"coordinates":{"r":1,"q":5},"type":"Open"},{"coordinates":{"r":-1,"q":6},"type":"Open"},{"coordinates":{"r":0,"q":6},"type":"Open"},{"coordinates":{"r":2,"q":4},"type":"Open"},{"coordinates":{"r":-2,"q":6},"type":"Open"},{"coordinates":{"r":-2,"q":5},"type":"Open"},{"coordinates":{"r":-2,"q":4},"type":"Open"}],"tilepool":{"Tundra":0,"Dune":0,"Rocks":0,"Canyon":0},"startcoordinates":[],"fountaincoordinates":[]}
