{"tiles":[{"coordinates":{"r":0,"q":0},"type":"Rocks"},{"coordinates":{"r":1,"q":0},"type":"Rocks"},{"coordinates":{"r":2,"q":0},"type":"Rocks"},{"coordinates":{"r":0,"q":1},"type":"Tundra"},{"coordinates":{"r":1,"q":1},"type":"Tundra"},{"coordinates":{"r":2,"q":1},"type":"Tundra"},{"coordinates":{"r":0,"q":2},"type":"Dune"},{"coordinates":{"r":1,"q":2},"type":"Dune"},{"coordinates":{"r":2,"q":2},"type":"Dune"}],"tilepool":{"Canyon":2},"startcoordinates":[{"r":0,"q":1}],"fountaincoordinates":[{"r":0,"q":0}]}
